body{
background-color: black;
color: white;
}


.content{
    margin-top: 150px;
    margin-left: 60px;
}

.content h4{
font-weight: 700;
}

.content h1{
    font-weight: 700;
}
.content p{
    font-size: 22px;
    font-weight: 400;
    width: 500px;
}
.content a{
    border: 2px solid white;
    padding-top: 6px;
}

h1{
    color: red;
    font-size: 88px;
}
